// Responsive size
$smartphone-screen: 320px;
$inter-screen: 850px;
$tablet-screen: 768px;
$desktop-screen: 1200px;

// Colors
$black-color: #181818;
$blue-color: #6ca0c6;
$background-about: #293141;
$background-works: #192746;

// Mixins
@mixin button-navigation {
  font-family: "Futura_Book";
  color: $black-color;
  background-color: #fff;
  padding: 5px 10px;
  transition-property: background-color !important;
  transition-duration: 0.8s !important;
  text-decoration: none;

  &:hover {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
  }

  &:active,
  &:visited,
  &:focus {
    text-decoration: none;
    border: none;
    outline: none;
  }
}
